﻿.error-code {
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
        }
.scroll {
            overflow-y: scroll;
            height: 300px;
            overflow-x: hidden;
            overflow: scroll;
        }
.scroll-1 {
            overflow-y: scroll;
            height: 220px;
            overflow-x: hidden;
            overflow: scroll;
        }
.body-min{
    min-height:350px;
}
.body-min-1{
    min-height:400px;
}
